@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


/*Home Page---Nisha*/
#navbar1 .navbar{
    
height: 112px;
box-shadow: 0px 4px 4px#14141429;
}

#card1{
    margin-top: 7.5rem;
}

#card2{
    margin-top:7.5rem;
}

#navbar1 .navbar-brand{
text-align: left;
font: Bold 18px Roboto;
letter-spacing: 0px;
color: #141414;
opacity: 1;
margin-left:4.125rem;
}

#navbar1 .navbar-nav{
    margin-left:1rem;
}

#navbar1 .navbar-nav .nav-item .nav-link{
text-align: left;
letter-spacing: 0px;
color: #141414;
opacity: 100;
font-size:23px;
font-family: 'Roboto', sans-serif;

}

#search1, #searchfont{
    -webkit-box-shadow: none;
box-shadow: none;
outline: -webkit-focus-ring-color auto 0px;

}
#searcbar1{
    left: 10rem;
}

#search1 {
    border-radius:15px 0px 0px 15px ;

}

#searchfont{
    border-radius:0px 15px 15px 0px ;

}
#searchfont:hover{
    background-color: white;
    color:#676767;
    

}



#drdoption:hover{
    background: black;
    color:white;
}
.carousel .carousel-indicators li {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #141414;
    opacity:0.5;
}

.carousel .carousel-indicators li.active{
    width:11px;
    height:11px;
    border-radius: 50%;
    background-color:#141414;
    opacity: 1;
    
}

.carousel-caption {
   
    right: 5%;
    color: #141414;
    max-width: 500px;
    left: auto;
    top:30%;
    opacity: 1;
    align-content: left;

}

.carousel-caption h1{

    color: #141414;
    font-size:5.25rem;
   font-weight: normal;
    text-align: left;
    font-family: 'Anton',sans-serif;
    
  
}
.carousel-caption p{
   text-align: left;
   letter-spacing: 0px;
   color: #676767;
   opacity: 1;
   font-size:1.625rem;
}

.carousel-caption .btn{
    background: #141414;
    color: #FFFFFF;
    opacity:1;
    width:8.75rem;
    height:2.313rem;
    border-radius: 0;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 0.64px;
    font-size:1rem;
    text-transform: uppercase;
}

#btnview .btn{
    font-size:1rem;
    color: #676767;
    font-family: 'Roboto',sans-serif;
    opacity: 1;
    text-decoration: none;
}

.product{
    position: relative;
}

.product:hover .img-fluid{
    opacity: 0.3;
}

.product:hover .black-overlay{
    opacity: 1;
}


.black-overlay .btn{
    width: 160px;
    line-height: 38px;
    border-radius: 50px;
   margin-top: 7rem;
    font-weight:bold;
}

.black-overlay{
    margin-top: -3rem;;
    min-height: 288px;
    min-width:270px;
    background-color: rgba(0,0,0,0.7);
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top:47%;
    left: 54%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 10px;
}


.black-overlay .btn:first-child {
    margin-bottom: 5rem;
}

#txtfont{
    text-decoration: none;
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;
    font-family:'Roboto',sans-serif;
    font-size:0.875rem;
    
    
}
#txtrate{
    text-decoration: none;
    font-size:1.25rem;
    color:  #141414;
    opacity: 1;
    letter-spacing: 0px;
    font-family:'Roboto',sans-serif;
    
}

#btnfont{
    font-size: 20px;
}
#thumb1 .img-fluid{
    background-color:#141414;
    opacity:1;
}

#thumb1 .card-body .card-text{
    font-family:'Roboto Light',sans-serif;
    font-size:1rem;
    letter-spacing: 0px;
    color: #676767;
     opacity: 1;
    
    }
    #thumb1, #thumb2 .card-body .card-text{
        font-family:'Roboto Light',sans-serif;
        font-size:1rem;
        letter-spacing: 0px;
        color: #676767;
         opacity: 1;
        }

#crdtxt{
    font-family: 'Opan Sans', sans-serif;
    font-size:1.5rem;
    font-weight:1000;
    opacity:1;
  
   
}

#crdtext1{
    margin-top:-0.8rem;
}

#thickline{
    width:102px;
    height:5px;
    float:left;
    margin-left:0rem;
    background-color: #141414;
    margin-right:2rem;
}

#testimonial{
    color: #141414;
    opacity: 1;
    letter-spacing: 0px;
    font-family:'regular',sans-serif;
    text-align:left;
}

#thumb2{
    background-color: #FFFFFF;
    border-radius: 10px;
    opacity: 1;
    
}

#cardrow2 .card:hover{
   opacity: 1;
   background: #141414;
   color:white;
    
}

#btmdotted{
   float:left;
    width:38px;
    height:5px;
    border-radius: 10px;
    opacity: 1;
    background-color:#FFFFFF;

}

#btmdotted1, #btmdotted2{
    float:left;
    width:38px;
    height:5px;
    background-color:#FFFFFF;
    border-radius: 10px;
    opacity: 1;
}
#btmdotted2:hover{
    background-color:#141414 ;
}

#btmdotted:hover{
    background-color:#141414 ;
}
#btmdotted1:hover{
    background-color:#141414 ;
}
#footer1{
    background-color: #141414;
    margin-top:-2rem;
}

.footer-copyright{
    color: #FFFFFF;
    font-size:1rem;
    letter-spacing: 0px;
    font-family:'Roboto', sans-serif;
   
  
  
}

#social1{
    margin-left:3rem;
}

#conditions1{
   
    color:white;
}
#citems1{
    text-decoration: none;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Roboto',sans-serif;
    font-size:1rem;
}


/*Mobile view*/
@media (min-width: 320px) and (max-width: 640px){
    /*.form-inline .form-control{
        display: none;
    }*/

    
    
   #navbar1 .navbar{
       box-shadow: none;
   }
    #navbar1 .navbar{
     
    display: inline;
    
    }
    #nav2{
        margin-left:-.8rem;
    }
    #nav3{
        margin-left:-.9rem;
    }
  
    .carousel .carousel-indicators li{
        top:1rem;
    }
    .carousel-caption {

        right: 2%;
        color: #141414;
        max-width: 150px;
        margin-left: -2rem;
        top:4%;
        opacity: 1;
        align-content: left;
    
    }
    
    .carousel-caption h1{
    
        color: #141414;
        font-size:2rem;
        font-weight: 400;
        text-align: left;
      
    }
    .carousel-caption p{
       text-align: left;
       letter-spacing: 0px;
       color: #676767;
       opacity: 1;
       font-size:0.7rem;
    }
    
    .carousel-caption .btn{
        background: #141414;
        color:white;
        opacity:1;
        width:6rem;
        height:2rem;
        border-radius: 0;
       font-size:0.6rem;
       align-items: center;
    }

    .black-overlay{
      top: 48%;
        left: 45%;
        
    }

 
    
  #copyright1{
      
      margin-left:1.5rem;
      
  }

  #fcard{
      margin-top:1rem;
      margin-left:.5rem;
  }
  #social1{
      margin-top: 1rem;
      margin-left: 2rem;
     
  }
  #conditions1{
      width: 500px;
      margin-left:1rem;
  }
}

/*Mobile view--pixel2*/
@media (min-width: 411px) and (max-width: 731px){
    .black-overlay{
        top: 48%;
          left: 43%;
          
      }

.product{
    margin-left: 2rem;
}
      #copyright1{
        margin-top:.2rem;
        margin-left:3rem;
        
    }
    #fcard{
        margin-top:1rem;
        margin-left:1rem;
    }
    #social1{
        margin-top: 1rem;
        margin-left: 3rem;
       
    }
    #conditions1{
        width: 500px;
        margin-left:2rem;
    }

   
}

/*----Mobile view---iphone6/7/8---*/

@media (min-width: 375px) and (max-width: 375px){
    .black-overlay{
        top: 48%;
        left: 44%;
        
    }

}
/*----Mobile view---iphone5/se---*/

@media (min-width: 320px) and (max-width: 320px){
    .black-overlay{
        top: 48%;
        left: 50%;
        
    }
    #copyright1{
       
        margin-left:1rem;
        
    }
    #fcard{
        margin-top:1rem;
        margin-left:1rem
       
        
    }
    #c5{
        margin-left:6rem;
        margin-top: 1rem;

    }
    #social1{
        margin-top: 1rem;
        margin-left: 2rem;
       
    }
    #conditions1{
        width: 500px;
        margin-left:0.4rem;
    }

}
/*Desktop View*/

@media (min-width: 1500px){
    #navbar1 .navbar-nav .nav-item .nav-link{
        font-size: 23px;
    }

   #navicon .nav-item .img-responsive{
   
    height:25px;
    width:23px;
   }
   .carousel-caption p{
   
    font-size:2rem;
 }
 .carousel-caption h1{
   font-size:7rem;
}

.carousel-caption .btn{
    
    width:9.75rem;
    height:3rem;
    font-size:1.5rem;
   
}

#btnview .btn{
    font-size:1.5rem;
   
}
#txtfont{
    
font-size:1.3rem;
    
    
}
#txtrate{
    
    font-size:1.5rem;
  
    
}
.black-overlay{
    top: 66%;
    left: 54%;
    
}
.product{
    height:285px;
    width:269px;
}
#conditions1{
    margin-right: -8rem;
    color:white;
}
#copyright1{
    font-size:1.2rem;
    margin-left: 0.5rem;;
}


#citems1{
    text-decoration: none;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Roboto',sans-serif;
    font-size:1.2rem;
}
}


/*Ipad*/
@media (min-width: 768px) and (max-width: 794px){
    #navbar1 .navbar-nav .nav-item .nav-link{
        font-size: 18px;
    }

    .carousel-caption {
   
        right: 5%;
        color: #141414;
        max-width: 500px;
        left: auto;
        top:20%;
        opacity: 1;
        align-content: left;
    
    } 

    #copyright1{
        margin-top:-0rem;
        margin-left:-.2rem;
        
    }
    #social1{
        margin-top: 0rem;
        margin-left: 3rem;
       
    }
    #fcard{
        margin-left:4rem;
    }
    #conditions1{
       margin-left:12rem ;
       margin-top:2rem;
        
    }
    .black-overlay{
        top: 48%;
        left: 44%;
        
    }
    
}






/*CartPage----Nisha*/

#cartnav{
    background-color: #F9F9F9;
}

#carttitle{
    font-family: 'Roboto-Medium',sans-serif;
    font-size:25px;
    text-align: left;
   letter-spacing: 0px;
   color: #141414;
   opacity: 1;
}
#cartcolor{
    font-family: 'Roboto-Medium',sans-serif;
    text-align: left;
    letter-spacing: 0px;
   color: #676767;
    opacity: 1;
    font-size: 15px;
}
#cartquantity{
    text-align: left;
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;
    font-family: 'Roboto-Regular',sans-serif;
    font-size:16px;
}
#cartprice{
    text-align: left;
letter-spacing: 0px;
color: #141414;
opacity: 1;
font-family: 'Roboto-Regular',sans-serif;
font-size: 25px;
}
#CartH1{
    text-align:left;
    letter-spacing:0px;
    color: #141414;
    opacity: 100%;
    font-weight: bold;
    font-size:16px;
    font-family: 'Roboto-Bold',sans-serif;
}
#Cartc{
    
    font-size:16px;
    text-align: left;
    letter-spacing: 0px;
     color: #676767;
     font-family: 'Roboto-Regular',sans-serif;
}

#Cart1{
    font-size:20px;
    text-align: left;
    font-family: 'Roboto-Regular',sans-serif;
     color: #676767;
     margin-top: -0.2rem;

}

#Removei{
   color: #676767;
   opacity: 1;
   font-family: 'Roboto-Medium',sans-serif;
   font-size: 13px;
   background: none;
   margin-top: -0.5rem;
  
}

#deliveryde{
    text-align: left;
   letter-spacing: 0px;
   color: #00B577;
   opacity: 1;
   font-family: 'Roboto-Medium',sans-serif;
   font-size: 13px;
}

#imgsize{
    height:200px;
    width:200px;
    margin-top: 1.2rem;
}

#cartedit{
    font-family: 'Roboto-Medium',sans-serif;
    text-align: left;
    letter-spacing: 0px;
   color: #676767;
    opacity: 1;
    font-size: 16px;

}

#cartshop2{
    text-align: center;
letter-spacing: 0px;
color: #141414;
opacity: 1;
font-family:'Roboto-Medium',sans-serif;
font-size:13px;
font-weight: bold;

}
#cartshop1{
    font-family:'Roboto-Medium',sans-serif;
  
    
    text-align: center;
letter-spacing: 0px;
color: black;
text-transform: uppercase;
opacity: 1;
font-size: 12px;
background: white;
border-radius: 0;
}




#cartshop5{
   
    font-family:'Roboto-Medium',sans-serif;
  
    text-align: center;
letter-spacing: 0px;
color: black;
text-transform: uppercase;
opacity: 1;
font-size: 12px;
background: white;
border-radius: 0;
}

#cartshop1:hover,
#cartshop1:active,
#cartshop5:hover,
#cartshop5:active{
    background: #141414;
    color:white;
    

}

#priceh1{
    
    background: grey;
    opacity: 1;
   }

#priceh{
    
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
font-family:'Roboto-Medium',sans-serif;
font-size:16px;

}

#Sbutton{
    align-items: center;
    border-radius: 0;
    color:black;
    background: white;
    font-family:'Roboto-Medium',sans-serif;
   text-align: center;
   letter-spacing: 0px;
  text-transform: uppercase;
   opacity: 1;
  font-size: 12px;
 background: white;
  border-radius: 0;
    
}
#Sbutton:hover,
#Sbutton:active{
    color:white;
    background:#141414;

}


.input-icons i { 
    position: absolute; 
} 
  

  
.icon { 
    padding: 5px; 
    min-width: 40px; 
    right:.3rem;
   top:53.8%;
   color:green;
} 
  
.input-field { 
    width: 100%; 
    text-align: left; 
    
}
#tick1{
    border-radius:0px 0px 0px 0px;
    color:#00B577;
    font-size:22px;
}
#tick2{
    border-radius:0px 0px 0px 0px;
    color:black;
    font-size:15px;
    font-weight: bold;
   
    
}

#reedemid, #cartedit, #cartshop1, #cartshop5,
#bsh{
    -webkit-box-shadow: none;
box-shadow: none;
outline: -webkit-focus-ring-color auto 0px;

}

#update{
    color: #141414;
    opacity: 1;
    background: white;
    border-radius: 0;

}
#update:hover{
    background: #141414;
    color:white;
}

#update{
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;

}

@media (min-width: 320px) and (max-width: 640px){
    #chshop{
      height: 40px;
    }
}

/*------Checkout Page-----Nisha*/

#Cpill{

    background: white;
    color:black;
    border: 1px solid #D1D1D1;
    opacity: 1;
    font-size:1rem;
}
#Ch1{
    text-align: left;
    letter-spacing: 0px;
    color: #141414;
     opacity: 1;
     font-family: 'Roboto-Medium',sans-serif;
     font-weight:bold;
     font-size:1rem;
}


#Cship1{
    text-align: left;
    letter-spacing: 0px;
     color: #6E6E6E;
     opacity: 1;
     font-family:'Roboto-Regular',sans-serif;
   font-size:14px;
    
    
}

#Cship{
    background: #F9F9F9;
}
#Ccheck::before{
    color:red;
}

#Cremove{
    text-align: left;
letter-spacing: 0px;
color: #3C3B3B;
opacity: 1;
font-family:'Roboto-Medium',sans-serif;
font-size:13px;
}

#Cedit{
    text-align: left;
letter-spacing: 0px;
color: #3C3B3B;
opacity: 1;
font-family:'Roboto-Medium',sans-serif;
font-size:13px;
}

#radio1{
    background: #FFFFFF 0% 0% no-repeat padding-box;
   border: 1px solid #D2D2D2;
    opacity: 1;
    
}

input[type=radio] {
    width: 15px;
    height: 15px;
}
.cadd{
    text-align: left;
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;
    font-family:'Roboto-Regular',sans-serif;
    font-size:14px;
    align-content: center;
    

}

#Cradio{
    align-content: center;
}

#Cdummyaddress{
    
    margin-left:-1rem;
}

#CASave{

text-align: center;
letter-spacing: 0px;

text-transform: uppercase;
opacity: 1;
font-size:12px;
font-family:'Roboto-Medium',sans-serif;
background: white;
color:black;
border-radius: 0;
}

#CASave:hover,
#CASave:active{
    background: #141414;
    color:white;
}

#CASave{
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;


}
#Finalamount{
    font-weight:bold;
    font-family: 'Roboto-Medium',sans-serif;
    font-size:1rem;
    color: #141414;
opacity: 1;
}

.fixed-bottom{
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

#text{
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;



}

/*------Checkout Payment Method------Nisha*/
#Corder{
    width: 139px;
   height: 37px;
    background: white;
    font-family: 'Roboto-Medium',sans-serif;
    color:black;
    border-radius: 0;
}
#Corder:hover,
#Corder:active
{
    background: #141414;
    color:white;
}

#Ccredit{
    color:white;
}
#placeor{
    color:black;
    text-decoration: none;
}

#Corder, #orderbtn,#sel1{
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;

}

/*
#accordion [data-toggle="collapse show"] i:before{
    content: "\f068";
}

#accordion [data-toggle="collapse"].collapsed i:before{
    content: "\f067";
}

#accordion [aria-expanded="true"] i:before {  
    content: "\f068";
  }

  #accordion [aria-expanded="true"] .collapsed i:before {  
    content: "\f067";
  }
*/

@media (min-width: 360px) and (max-width: 640px){
    #month select[type="text"]{
        width:100px;
       
    }
  
    #expiry select[type="text"]{
        width:100px;
        
    }
    #cvv input[type="text"]{
        width:100px;
    }
}



/*----------Thank you page------- Nisha*/

#thankyou{
    text-align: center;
    letter-spacing: 0px;
    color: #141414;
     opacity: 1;
     font-family: 'Roboto-Bold',sans-serif;
     font-size:34px;
     font-weight:bold;
}
#orderdetails{
    text-align: center;
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;
    font-family: 'Roboto-Regular',sans-serif;
    font-size:16px;
}
#orderbtn{
    width: 180px;
    color:black;
    background: white;
    font-size:14px;
    font-family: 'Roboto-Medium',sans-serif;
   border-radius: 0;
    
}
#orderbtn:hover,
#orderbtn:active{
    color:white;
    background:#141414;
}

/*----------Help-------*/

#helptag a{
    text-decoration: none;
    text-align: left;
   font: Medium 20px/24px Roboto;
   letter-spacing: 0px;
   color: #676767;
   opacity: 1;
   font-size:20px;
}
#helph{
   
    letter-spacing: 0px;
    color: #141414;
     opacity: 1;
     font-family: 'Roboto-Bold',sans-serif;
     font-size: 34px;
     font-weight:bold;
}




/*--------Terms & Conditions-----*/

#TandC{

    text-align: left;
   letter-spacing: 0px;
 
    opacity: 1;
    font-family: 'Roboto-Regular',sans-serif;
    font-size: 14px;

}

#TandC :hover,
#TandC :active{

    background: black;
    color:white;

}

#tandch{
font-size: 34px;
letter-spacing: 0px;
color: #141414;
opacity: 1;
font-family: 'Roboto-Bold',sans-serif;
font-weight: bold;
}

#tandcsub{

    text-align: left;

letter-spacing: 0px;
color: #676767;
font-size:20px;

}

#tandcp{

    text-align: left;
font-size:18px;
letter-spacing: 0px;
color: #676767;

}

/*------View order----Nisha----*/

#orderbtn1{
 width:150px;
    color: #141414;;
    background: white;
    font-size:14px;
    font-family: 'Roboto-Bold',sans-serif;
    border-radius: 0;
}

#orderbtn1:hover,
#orderbtn1:active{
    color:white;
   background: #141414; 
}
#orderbtn1{
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;

    
}



/*--------Invoice ------------ Nisha*/
.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}


/*--------TRack My Order-----*/

#myordertrack{
    color: black;
    background: white;
    font-size:14px;
    font-family: 'Roboto-Bold',sans-serif;
    border-radius: 0;
}

#myordertrack:hover{
    background:#141414 ;
    color:white;

}
@media (min-width: 360px) and (max-width: 640px){

    #tablewidth{
        width:200px;
    }
}


/*------Track my order---Nisha----*/


@media (min-width: 360px) and (max-width: 640px){

    #trackid{
       margin-left:-5rem;
    }
}



/*-----Praba----- codes----*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');



/* #main_header .navbar{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px #14141429;
    color: #141414;
}
#main_header .navbar-brand{
    font-size: 18px;
    color: #141414;
    font-weight: bold;
}
#main_header .nav-link{
    top: 46px;
    font-size: 18px;
    color: #141414;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
  } */

.description{
    font-size: 16px; 
    color: #727272;
    padding-left: 10px;
}

.size-group{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #141414;
    font-weight: bold;
}

.size-group_mob{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #141414;
    font-weight: bold;
}
.textbox{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #D6D6D6;
border-radius: 5px;
opacity: 1;
width: 58px;
height: 41px;
font-size: 16px;
}

.textbox_mobile{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #D6D6D6;
border-radius: 2px;
opacity: 1;
width: 28px;
height: 20px;
font-size: 10px;
padding-top: 0;
}
.scale{
    font-size: 13px;
    color: #00B577;
    text-decoration: none;
}

.scale_mob{
    font-size: 9px;
    color: #00B577;
    text-decoration: none;
}
.preview-thumbnail a:hover,
.preview-thumbnail a:active{

    opacity: 0.3;

}

.preview-pic{
    position: relative;
}

#real-file{
    display: none;
}
.desk-name, .custom-button-desk, .custom-text, .t_postion, .option{
    font-size: 16px;
}

.sample{
width: 254px;
height: 254px;
}

.sample_mob{
width: 254px;
height: 254px;
}

.page-footer{
    background-color: black;
    height: 50px;
    font-size: 0.6rem;
    color: white;
}
.main-footer__link a{
    color: #474646;
    text-decoration: none;

}
.main-footer__link a:hover,
.main-footer__link a:active{
    color: rgb(143, 138, 138);

}
 
#copyrights{
    color: #FFFFFF;
    font-size:1rem;
    letter-spacing: 0px;
    font-family:'Roboto', sans-serif; 
}
  
#conditions{
    color:white;
    /* margin-right: 0; */
}
#citems{
    text-decoration: none;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Roboto',sans-serif;
    font-size:1.2rem;
}

.size_1{
    font-size: 10px;
}
.t-logo, .t-position, .option{
font-size: 14px;
} 
.t-logo_mob, .option_mob, .t-position_mob{
    font-size: 12px;
}

#button_style{
    background-color: #FFFFFF; 
    color: #211F1F; 
    border: 1px solid #DEDEDE; 
    text-decoration: none !important;
}

#button_style:hover{
    background:#141414 ;
    color:white;

}


canvas{
    width:70px; height:60px; position: absolute; top:210px;
}


.upload-logo_left{
    right:220px;
}

.upload-logo_right{
    left:118px; 
    display: none;
}

/* #real-file{
  position: absolute;

} */


/* #finput {

    position: absolute;
    top: 50px;
    left:20px;
  }  */

@media (min-device-width: 768px){
    .mobile_view, .mobile_view_1, .size-group_mob,   .scale_mob, .sample_mob, 
    .title_mob, .t-logo_mob, .btn_mob, .btn_mob_1, .price_mob, .textbox_mobile,.size_1 {
        display: none;
    }


}

@media (max-device-width: 767px){
      .desktop_view, .desktop_view_1, #sub_header, 
    .size-group, .scale, .citems, .sample, .title, .t-logo, .btn_desk, #custom-text, .price,.size-box,.btn_desk_1
    /* .input-group, */
    {
        display: none;
    }

    .desk-name, .custom-button-desk, .t_postion, .option{
        font-size: 12px;
    }

    .size_1{
        padding-left: 6px;
    }

    .social{
        margin-left: 0;
    }

    #finput{
        font-size: 12px;
    }


    canvas{
        width:35px; height:30px; position: absolute; top:190px;
    }
    .upload-logo_left{
       margin-right: -87px;

    }

    .upload-logo_right{
        margin-left: -34px;

    } 

}


/*Mobile view--pixel2*/
@media (min-width: 411px) and (max-width: 731px){
    .upload-logo_left{
        margin-right: -45px;
 
     }
}


/*----Mobile view---iphone5/se---*/

@media (min-width: 320px) and (max-width: 320px){

    .upload-logo_left{
        margin-right: -125px;
 
     }

}

/*----Mobile view---iphone6/7/8---*/

@media (min-width: 375px) and (max-width: 375px){
    .upload-logo_left{
        margin-right: -69px;
 
     }

}


/*Ipad*/
@media (min-width: 768px) and (max-width: 794px){
    .upload-logo_left{
        margin-right: 159px;
 
     }
}

/*Ipad Pro */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2){
    .upload-logo_left{
        margin-right: -89px;
 
     }

  }

/*-----Praba------ login Page------ codes----*/
#login{
    margin-top: 132px;
    width: 50%;
    height: 100%;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    box-shadow: 8px 8px 8px #14141429;
    border-radius: 20px;
    opacity: 1;   
    }
  .modal-backdrop {
        z-index: 2;
      }
    
    .log_title_1, .log_customer{
        font-size: 25px;
    }
    .log_title_2{
        font-size: 18px;
    }
    .log_title_3{
        font-size: 16px;
    }
    .log_forgot, .log_btn, .log_sentence, .log-account{
        font-size: 14px;
    }
    .login-email, .login-password{
    background: white 0% 0% no-repeat padding-box;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    opacity: 1;
    width: 50%;
    font-size: 14px;
    }
    .login-thinline{
        border: 1px solid #D2D2D2;
        opacity: 1;
        font-size: 1px;
        width: 50%;
        background-color: #D2D2D2;

    }
    .login-social{
        font-size:1.5rem;
    }
    @media (max-width: 767px){
        #login{
            width: 75%;
            margin-top: 66px;
        
        }
        .login-email, .login-password, .login-thinline{
            width: 75%;
        }
        .login-email, .login-password{
            font-size: 12px;
        }
        .log_title_1, .log_customer{
            font-size: 20px;
        }
        .log_title_2{
            font-size: 16px;
        }
        .log_title_3{
            font-size: 14px;
        }
        .log_forgot, .log_btn, .log_sentence, .log-account{
            font-size: 12px;
        }
        .login-social{
            font-size:1.4rem;
        }
    }



/*-----Praba------ Registration Page------ codes----*/

.register{
    margin-top: 132px;
    width: 50%;
    height: 100%;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    box-shadow: 8px 8px 8px #14141429;
    border-radius: 20px;
    opacity: 1; 
    }

    .reg-customer{
        font-size: 22px;
    }
    .reg-info{
        font-size: 18px;
    }
    #reg-sign, .reg-account{
        font-size: 14px;
    }
    .reg-email, .reg-password, .reg-confirm-password{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    opacity: 1;
    width: 50%;
    font-size: 14px;
    }

    @media (max-width: 768px){
        .register{
            width: 75%;
            margin-top: 66px;
        
        }
        .reg-customer{
            font-size: 20px;
        }
        .reg-info{
            font-size: 16px;
        }
        #reg-sign, .reg-account{
            font-size: 12px;
        }
        .reg-email, .reg-password, .reg-confirm-password{
            width: 75%;
            font-size: 12px;
        }
    }


    /*-----Praba------ Forget Password Page------ codes----*/

    .forgot_pwd{
        margin-top: 132px;
        width: 50%;
        height: 100%;
        background: #F9F9F9 0% 0% no-repeat padding-box;
        box-shadow: 8px 8px 8px #14141429;
        border-radius: 20px;
        opacity: 1; 
        }

    .forgot-customer{
        font-size: 22px;
    }

    .forget-info{
        font-size: 18px;
    }
    .forgot-email{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #D6D6D6;
        border-radius: 5px;
        opacity: 1;
        width: 50%;
        font-size: 14px;
    }
    .forgot-account, #forgot-link{
        font-size: 14px;
    }
    #forgot-link{
        color: #00B577;
    }
    

    @media (max-width: 768px){
        .forgot_pwd{
            width: 75%;
            margin-top: 66px;
        
        }
        .forgot-customer{
            font-size: 20px;
        }
        .forget-info{
            font-size: 16px;
        }
        .forgot-account, #forgot-link{
            font-size: 12px;
        }
        .forgot-email{
            width: 75%;
            font-size: 12px;
        }
    }


    /*-----Praba------ Reset Password Page------ codes----*/

    .reset{
        margin-top: 132px;
        width: 50%;
        height: 100%;
        background: #F9F9F9 0% 0% no-repeat padding-box;
        box-shadow: 8px 8px 8px #14141429;
        border-radius: 20px;
        opacity: 1; 
        }

    .reset-password, .reset-new-password{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #D6D6D6;
        border-radius: 5px;
        opacity: 1;
        width: 50%;
        font-size: 14px;
        }

        @media (max-width: 768px){
        .reset{
        width: 75%;
        margin-top: 66px;
        }

        .reset-password, .reset-new-password{
        width: 75%;
        font-size: 12px;
        }
        }
    
        /*------------Praba-------Tracking my Order-1---------Codes-------*/

        .track_title{
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            font-size: 34px;
        }
    
        .arrival_1{
            color: #141414;
            font-family: 'Roboto';
            font-size: 30px;
        }

        .third-col{
            float: right;
        }
        
        .dot {
            height: 10px;
            width: 10px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 0px;
            background-color: green;
            border-radius: 50%;
            display: inline-block
        }
         
        .track-line {
            height: 1px !important;
            background-color: green;
            width:20%;
            
        }

        .flex-content{
            font-size: 11px;
        }

        @media (max-width: 767px){
            .desk_track{
                display: none;
            }
            .third-col{
                text-align: center;
            }
            .track_title{
                font-size: 25px;
            }
            .flex-content{
                font-size: 8px;
            }

            .arrival_1{
                font-size: 18px;
            }
            .mobile_track{
                padding-left: 23%;
                text-align: center;
            }
        }

        @media (min-width: 768px){
           .mobile_track{
               display: none;
           }
        }


/* --------------------------Praba----Manage Account---------------------------------- */

@media (max-width: 767px){
    .add_new{
        padding-top: 25px;
    }
 }

/*--------------------------- Praba------- About Us...................................... */

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.about{
    font-size: 34px;
    color: #141414;
    font-weight: bold;
}
.about-img_desk, .about-img_mob{
    background: #F9F9F9 0% 0% no-repeat padding-box;
    box-shadow: 8px 8px 0px #14141429;
    opacity: 1;
    border-radius: 5px;
}
.about-team{
    background: #F9F9F9 0% 0% no-repeat padding-box;
    /* height: 480px; */
}


#btmdotted_about{
    float:left;
     width:38px;
     height:5px;
     border-radius: 10px;
     opacity: 1;
     background: #DEDEDE 0% 0% no-repeat padding-box;
 
 }
 
 #btmdotted-1, #btmdotted-2{
     float:left;
     width:38px;
     height:5px;
     background: #DEDEDE 0% 0% no-repeat padding-box;
     border-radius: 10px;
     opacity: 1;
 }
 #btmdotted-2:hover{
     background-color:#141414 ;
 }
 
 #btmdotted_about:hover{
     background-color:#141414 ;
 }
 #btmdotted-1:hover{
     background-color:#141414 ;
 }

.contact-about{
  color: #606060;
}

@media (max-width: 767px){
    .about-img_desk{
        display: none;
    }
}

@media (min-width: 768px){
    .about-img_mob{
        display: none;
    }
}

/* .navbar
{
    margin-bottom: 0;
    border-radius: 0;
    text-align: left;
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;
    -webkit-box-shadow: 20px 20px 20px #F0F7F8;
    -moz-box-shadow:  20px 20px 20px #F0F7F8;
    box-shadow: 20px 20px 20px #F0F7F8;
    z-index:999;
    width: 1500px;
  }
  
.navbar-nav li{
  top: 30px;
  left: 80px;
  font-size: 18px;

}
.custom-navbar{box-shadow: 3px 3px 3px #F0F7F8;background-color: #fff;} */

/*#custom-search-input button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:black;
}

.search-query:focus + button {
  z-index: 3;   
} */
/* .navbar-brand{
      top: 40px;
      left: 1px;
      color: black;
      font: Bold 18px/21px Roboto;
  } */


  /* FOOTER */
  

  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
   .row::after {
    content: "";
    clear: both;
    display: table;
  } 
.contain{
    padding: 25px;
   background-color: black;
}
  .fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
.fa:hover {
    opacity: 0.7;
  }
  
  
.fa-facebook {
    color: white;
  }
/* MONASH CSS FILE */

/* ORDER.CSS */

.ordbackground{
  height: 2300px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}
.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .container li {
    float: left;
  }
  
  .container li a {
    display: block;
    padding: 14px 2px;
    text-decoration: none;
    color: #141414;
  }
  
.sidenav {
  top: 207px;
  left: 135px;
  width: 270px;
  height: 460px;
  border: 1px solid rgb(211, 210, 210);
  list-style-type: none;
  background-color: rgb(255, 254, 254);
}

.sidenav ul#list li {
  display:inline;
  margin: 10px 20px;
}
/* .sidenav ul#list li a:hover:not(.active) {
  background-color: #555;
  color: white;
} */
.sidenav ul#list li .fa{
  font-size: 20px;
 padding-right: 60px;
}

ul#types li {
  display:inline;
  margin: 10px 20px;
}
.cities {
  background-color: white;
  color: black;
  margin: 10px;
  padding: 20px;
  width: 850px;
  height: 128px;
}
.left {
  float: left;
 }
 .cities ul#list li {
  display:inline;
  margin: 10px 10px; 
}
hr.new5 {
   margin: 20px;
   width: 700px;
   border: 1px solid #EAEAEA;
   border-radius: 5px;
}
.cities ul#type li {
  display:inline;
  margin: 0 10px; 
}
.example11 {
  font-size:20px;
  font: bold;
  color: black;
}
.example10 {
font-size:18px;
font: bold;
}
.example12 {
    font-size:13px;
    font: bold;
    color:#676767
  }
  .details{
      padding-left: 40px;
  }

#cbtnorder{
    font-size:12px;
    background: white;
    color:black;
    
}

#cbtnorder:hover,
#cbtnorder:active{
    background: black;
    color:white;

}

  @media (min-width: 360px) and (max-width: 640px){
    .align{
        padding-left: 30px;
    }
   #orderidde{
       margin-top: 1rem;
   }
   #cbtnorder{
       margin-left:2rem;
   }
  }
  /*Ipad pro */
@media (min-width: 1024px) and (max-width: 1024px){
   .align{
       padding-left: 35px;
   }
  
  
}
  /*Ipad */
  @media (min-width: 768px) and (max-width: 770px){
    .align{
        padding-left: 100px;
        margin-right: 20px;
    }
    .responsive {
        width: 100%;
        height: auto;
        margin-left: 50px;
      }
     .alignment{
        margin-right: 50px;
     }
     hr.new5{
        margin-left: 70px;
     }
     .trick{
        padding-left: 45px;
       }
       
  
    
 }

 
/* ACCOUNT.CSS */

.accbackground{
    height: 700px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    }
    
  /* .menu {
    float:left;
    width:20%;
    text-align:center;
  } */
  .main {
    float:left;
    width:35%;
    margin-left: 10%;
  }
  .main1 {
    float:left;
    width:35%;
    margin-left: 5%;
    margin-top:-30px ;
  }
  .rightha {
    margin-top:55px;
    
  }
  .example61 {
    font-size:18px;
    font: bold;
    }

  .example62 {
    font-size:28px;
    font: bold;
    color: black;
    }

    #btn_edit, #btn_update{
        margin-left: 293px;
       }




 .center .btn{
     
        margin-left: 300px;
 }

 @media (min-width: 768px){
    .btn_edit_mob, .btn_update_mob{
        display: none;
    }
 
}

 @media (max-width: 767px){
    #btn_edit, #btn_update{
        display: none;
       }

       .btn_edit_mob, .btn_update_mob{
           margin-left: 80px;
       }
 } 