@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');



#navbar1 .navbar{
    
height: 112px;
box-shadow: 0px 4px 4px#14141429;
}

#card1{
    margin-top: 7.5rem;
}

#card2{
    margin-top:7.5rem;
}

#navbar1 .navbar-brand{
text-align: left;
font: Bold 18px Roboto;
letter-spacing: 0px;
color: #141414;
opacity: 1;
margin-left:4.125rem;
}

#navbar1 .navbar-nav{
    margin-left:1rem;
}

#navbar1 .navbar-nav .nav-item .nav-link{
text-align: left;
letter-spacing: 0px;
color: #141414;
opacity: 100;
font-size:20px;
font-family: 'Roboto', sans-serif;

}
#searcbar{
    left: 10rem;
}
#search1 {
    border-radius:15px 0px 0px 15px ;
}

#searchfont{
    border-radius:0px 15px 15px 0px ;
}

.carousel .carousel-indicators li {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #141414;
    opacity:0.5;
}

.carousel .carousel-indicators li.active{
    width:11px;
    height:11px;
    border-radius: 50%;
    background-color:#141414;
    opacity: 1;
    
}

.carousel-caption {
   
    right: 5%;
    color: #141414;
    max-width: 500px;
    left: auto;
    top:30%;
    opacity: 1;
    align-content: left;

}

.carousel-caption h1{

    color: #141414;
    font-size:5.25rem;
   font-weight: normal;
    text-align: left;
    font-family: 'Anton',sans-serif;
    
  
}
.carousel-caption p{
   text-align: left;
   letter-spacing: 0px;
   color: #676767;
   opacity: 1;
   font-size:1.625rem;
}

.carousel-caption .btn{
    background: #141414;
    color: #FFFFFF;
    opacity:1;
    width:8.75rem;
    height:2.313rem;
    border-radius: 0;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 0.64px;
    font-size:1rem;
    text-transform: uppercase;
}

#btnview .btn{
    font-size:1rem;
    color: #676767;
    font-family: 'Roboto',sans-serif;
    opacity: 1;
    text-decoration: none;
}

.product{
    position: relative;
}

.product:hover .img-fluid{
    opacity: 0.3;
}

.product:hover .black-overlay{
    opacity: 1;
}


.black-overlay .btn{
    width: 160px;
    line-height: 38px;
    border-radius: 50px;
   margin-top: 7rem;
    font-weight:bold;
}

.black-overlay{
    margin-top: -3rem;;
    min-height: 288px;
    min-width:270px;
    background-color: rgba(0,0,0,0.7);
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top:47%;
    left: 54%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 10px;
}


.black-overlay .btn:first-child {
    margin-bottom: 5rem;
}

#txtfont{
    text-decoration: none;
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;
    font-family:'Roboto',sans-serif;
    font-size:0.875rem;
    
    
}
#txtrate{
    text-decoration: none;
    font-size:1.25rem;
    color:  #141414;
    opacity: 1;
    letter-spacing: 0px;
    font-family:'Roboto',sans-serif;
    
}


#thumb1 .img-fluid{
    background-color:#141414;
  
    opacity:1;
}
#thumb1 .card-body .card-text{
    font-family:'Roboto Light',sans-serif;
    font-size:1rem;
    letter-spacing: 0px;
    color: #676767;
     opacity: 1;
    
    }
    #thumb1, #thumb2 .card-body .card-text{
        font-family:'Roboto Light',sans-serif;
        font-size:1rem;
        letter-spacing: 0px;
        color: #676767;
         opacity: 1;
        }

#crdtxt{
    font-family: 'Opan Sans', sans-serif;
    font-size:1.5rem;
    font-weight:1000;
    opacity:1;
  
   
}

#crdtext1{
    margin-top:-0.8rem;
}

#thickline{
    width:102px;
    height:5px;
    float:left;
    margin-left:0rem;
    background-color: #141414;
    margin-right:2rem;
}

#testimonial{
    color: #141414;
    opacity: 1;
    letter-spacing: 0px;
    font-family:'regular',sans-serif;
    text-align:left;
}

#thumb2{
    background-color: #FFFFFF;
    border-radius: 10px;
    opacity: 1;
    
}

#cardrow2 .card:hover{
   opacity: 1;
   background: #141414;
   color:white;
    
}

#btmdotted{
   float:left;
    width:38px;
    height:5px;
    border-radius: 10px;
    opacity: 1;
    background-color:#FFFFFF;

}

#btmdotted1, #btmdotted2{
    float:left;
    width:38px;
    height:5px;
    background-color:#FFFFFF;
    border-radius: 10px;
    opacity: 1;
}
#btmdotted2:hover{
    background-color:#141414 ;
}

#btmdotted:hover{
    background-color:#141414 ;
}
#btmdotted1:hover{
    background-color:#141414 ;
}
#footer1{
    background-color: #141414;
    margin-top:-2rem;
}

.footer-copyright{
    color: #FFFFFF;
    font-size:1rem;
    letter-spacing: 0px;
    font-family:'Roboto', sans-serif;
    margin-left: 2rem;
  
  
}

#social1{
    margin-left:5rem;
}

#conditions1{
    margin-right: -1rem;
    color:white;
}
#citems1{
    text-decoration: none;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Roboto',sans-serif;
    font-size:1rem;
}


/*Mobile view*/
@media (min-width: 360px) and (max-width: 640px){
    /*.form-inline .form-control{
        display: none;
    }*/
    
    
   #navbar1 .navbar{
       box-shadow: none;
   }
    #navbar1 .navbar{
     
    display: inline;
    
    }
    .navbar-toggler{
        margin-left: 8rem;
    }

    .carousel .carousel-indicators li{
        top:1rem;
    }
    .carousel-caption {

        right: 2%;
        color: #141414;
        max-width: 150px;
        margin-left: -2rem;
        top:4%;
        opacity: 1;
        align-content: left;
    
    }
    
    .carousel-caption h1{
    
        color: #141414;
        font-size:2rem;
        font-weight: 400;
        text-align: left;
      
    }
    .carousel-caption p{
       text-align: left;
       letter-spacing: 0px;
       color: #676767;
       opacity: 1;
       font-size:0.7rem;
    }
    
    .carousel-caption .btn{
        background: #141414;
        color:white;
        opacity:1;
        width:6rem;
        height:2rem;
        border-radius: 0;
       font-size:0.6rem;
       align-items: center;
    }

    .black-overlay{
      top: 48%;
        left: 45%;
        
    }

 
    
  #copyright1{
      margin-top:-1rem;
      margin-left:1.5rem;
      
  }
  #social1{
      margin-top: 1rem;
      margin-left: 4rem;
     
  }
  #conditions1{
      width: 500px;
      margin-left:-0.9rem;
  }
}
/*Mobile view--pixel2*/
@media (min-width: 375px) and (max-width: 731px){
    .black-overlay{
        top: 48%;
          left: 43%;
          
      }

.product{
    margin-left: 2rem;
}
      #copyright1{
        margin-top:-1rem;
        margin-left:3rem;
        
    }
    #social1{
        margin-top: 1rem;
        margin-left: 5rem;
       
    }
    #conditions1{
        width: 500px;
        margin-left:1rem;
    }

   
}

/*Desktop View*/

@media (min-width: 1500px){
    #navbar1 .navbar-nav .nav-item .nav-link{
        font-size: 25px;
    }

   #navicon .nav-item .img-responsive{
   
    height:28px;
    width:26px;
   }
   .carousel-caption p{
   
    font-size:2rem;
 }
 .carousel-caption h1{
   font-size:7rem;
}

.carousel-caption .btn{
    
    width:9.75rem;
    height:3rem;
    font-size:1.5rem;
   
}

#btnview .btn{
    font-size:1.5rem;
   
}
#txtfont{
    
font-size:1.3rem;
    
    
}
#txtrate{
    
    font-size:1.5rem;
  
    
}
.black-overlay{
    top: 66%;
    left: 54%;
    
}
.product{
    height:285px;
    width:269px;
}
#conditions1{
    margin-right: -8rem;
    color:white;
}
#copyright1{
    font-size:1.2rem;
    margin-left: 0.5rem;;
}


#citems1{
    text-decoration: none;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Roboto',sans-serif;
    font-size:1.2rem;
}
}


/*Ipad pro */
@media (min-width: 768px) and (max-width: 1024px){
    #navbar1 .navbar-nav .nav-item .nav-link{
        font-size: 18px;
    }

    .carousel-caption {
   
        right: 5%;
        color: #141414;
        max-width: 500px;
        left: auto;
        top:20%;
        opacity: 1;
        align-content: left;
    
    } 

    #copyright1{
        margin-top:-0rem;
        margin-left:0rem;
        
    }
    #social1{
        margin-top: 0rem;
        margin-left: 0rem;
       
    }
    #conditions1{
       margin-left:-2rem ;
        
    }
    
}



/*-----Praba----- codes----*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');



.header1 .navbar{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px #14141429;
    color: #141414;
}
.header1 .navbar-brand{
    font-size: 18px;
    color: #141414;
    font-weight: bold;
}
.header1 .nav-link{
    top: 46px;
    font-size: 18px;
    color: #141414;
}


 .has-search .form-control {
    margin-left: 2.3rem;
    border-radius: 10px;
    width: 696px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    width: 16px;
    height: 37px;
    line-height: 2.375rem;
    text-align: center;
    color:black;
    margin-left: 50rem;
    font-size: 25px;
    margin-top: -0.2rem;
 } 

input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

.description{
    font-size: 14px; 
    color: #727272;
    padding-left: 10px;
}

.size-group{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #141414;
    font-weight: bold;
}

.size-group_mob{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #141414;
    font-weight: bold;
}
.textbox{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #D6D6D6;
border-radius: 5px;
opacity: 1;
width: 58px;
height: 41px;
font-size: 16px;
}

.textbox_mobile{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #D6D6D6;
border-radius: 2px;
opacity: 1;
width: 28px;
height: 20px;
font-size: 10px;
padding-top: 0;
}
.scale{
    font-size: 13px;
    color: #00B577;
    text-decoration: none;
}

.scale_mob{
    font-size: 9px;
    color: #00B577;
    text-decoration: none;
}
.preview-thumbnail a:hover,
.preview-thumbnail a:active{

    opacity: 0.3;

}

.file-input{
    display:none;
}
.file-lablel{
    background: #d5d5d5;
    border-radius: 5px;
    padding: 5px;
}
.sample{
width: 254px;
height: 254px;
}

.sample_mob{
width: 254px;
height: 254px;
}

.page-footer{
    background-color: black;
    height: 50px;
    font-size: 0.6rem;
    color: white;
}
.main-footer__link a{
    color: #474646;
    text-decoration: none;

}
.main-footer__link a:hover,
.main-footer__link a:active{
    color: rgb(143, 138, 138);

}
 
#copyright{
    color: #FFFFFF;
    font-size:1rem;
    letter-spacing: 0px;
    font-family:'Roboto', sans-serif;
    margin-left:-4rem;
  
}
 
#social{
    margin-left:5rem;
}
 
#conditions{
    margin-right:-6rem;
    color:white;
}
#citems{
    text-decoration: none;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Roboto',sans-serif;
    font-size:1rem;
}

.desktop_view{
    height: 430px; 
    width: 458px;
}
.mobile_view{
    height: 430px; 
    width: 295px;
}

.desktop_view_1{
    width: 63px; 
    height: 46px;
}

.mobile_view_1{
    width: 53px; 
    height: 36px;
}

.size_1{
    font-size: 10px;
}
.t-logo, .t-position, .option{
font-size: 14px;
} 
.t-logo_mob, .option_mob, .t-position_mob{
    font-size: 12px;
}


@media (max-width: 767px){
     #brands, .header2, .desktop_view, .desktop_view_1, .size, .textbox, 
    .size-group, .scale, #copyright, #conditions, .citems, .sample, .title, .t-logo, .btn_desk, 
    .btn_desk_1, .t-postion, .option {
    display: none;
}
.header1 .form-inline{
    display: none;
}
} 

@media (min-width: 768px){
    .mobile_view, .mobile_view_1, .size-group_mob, .textbox_mobile, .size_1, .scale_mob, .sample_mob, 
    .title_mob, .t-logo_mob, .btn_mob, .btn_mob_1, .t-postion_mob, .option_mob, .price_mob{
        display: none;

    }

    
}

/* MONASH CSS FILE */

/* HEADER */

.navbar 
{
    margin-bottom: 0;
    border-radius: 0;
    text-align: left;
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;
    -webkit-box-shadow: 20px 20px 20px #F0F7F8;
    -moz-box-shadow:  20px 20px 20px #F0F7F8;
    box-shadow: 20px 20px 20px #F0F7F8;
    z-index:999;
    width: 1500px;
  }
  
.navbar-nav li{
  top: 30px;
  left: 80px;
  font-size: 18px;

}
.custom-navbar{box-shadow: 3px 3px 3px #F0F7F8;background-color: #fff;}

/* #custom-search-input button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:black;
}

.search-query:focus + button {
  z-index: 3;   
} */
.navbar-brand{
      top: 40px;
      left: 1px;
      color: black;
      font: Bold 18px/21px Roboto;
  }


  /* FOOTER */
  

  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
   .row::after {
    content: "";
    clear: both;
    display: table;
  } 
.contain{
    padding: 25px;
   background-color: black;
}
  .fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
.fa:hover {
    opacity: 0.7;
  }
  
  
.fa-facebook {
    color: white;
  }

  .fa-instagram {
    
    color: white;
  }
  
 
.fa-twitter {
   
    color: white;
  }
  
  
/* ORDER.CSS */

.ordbackground{
  height: 2300px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}
.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .container li {
    float: left;
  }
  
  .container li a {
    display: block;
    padding: 14px 2px;
    text-decoration: none;
    color: #141414;
  }
  
.sidenav {
  top: 207px;
  left: 135px;
  width: 270px;
  height: 390px;
  border: 1px solid rgb(211, 210, 210);
  list-style-type: none;
  background-color: rgb(255, 254, 254);
}

.sidenav ul#list li {
  display:inline;
  margin: 10px 20px;
}
.sidenav ul#list:hover:not(.active) {
  background-color: #555;
  color: white;
}
.sidenav ul#list li .fa{
  font-size: 20px;
 padding-right: 60px;
}
.sidenav ul#list li .fas{
  font-size: 20px;
 padding-right: 30px;
}
.sidenav ul#list li .glyphicon{
  font-size: 20px;
 padding-right: 40px;
}
.example12 {
  font-size:13px;
  font: bold;
  color:#676767
}
ul#types li {
  display:inline;
  margin: 10px 20px;
}
.cities {
  background-color: white;
  color: black;
  margin: 20px;
  padding: 20px;
  width: 850px;
  height: 128px;
}
.left {
  float: left;
 }
 .cities ul#list li {
  display:inline;
  margin: 10px 10px; 
}
hr.new5 {
   margin: 20px;
   width: 800px;
   border: 1px solid #EAEAEA;
   border-radius: 5px;
}
.cities ul#type li {
  display:inline;
  margin: 0 10px; 
}
.example11 {
  font-size:16px;
  font: bold;
  color: black;
}
.example10 {
font-size:18px;
font: bold;
}


/* ACCOUNT.CSS */

.accbackground{
    height: 700px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    }
    
  .menu {
    float:left;
    width:20%;
    text-align:center;
  }
  .main {
    float:left;
    width:35%;
    margin-left: 10%;
  }
  .main1 {
    float:left;
    width:35%;
    margin-left: 5%;
    margin-top:-30px ;
  }
  .rightha {
    float:left;
    width:35%;
    padding:15px;
    margin-top:25px;
    
  }
  .example61 {
    font-size:18px;
    font: bold;
    }

  .example62 {
    font-size:28px;
    font: bold;
    color: black;
    }

 .center .btn{
        color: #DEDEDE;
        width: 160px;
        line-height: 38px;
        border-radius: 50px;
        margin-left: 30%;
    
 }
