@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');



#navbar1 .navbar{
    
height: 112px;
box-shadow: 0px 4px 4px#14141429;
}

#card1{
    margin-top: 7.5rem;
}

#card2{
    margin-top:7.5rem;
}

#navabar1 .navbar-brand{
text-align: left;
font: Bold 18px Roboto;
letter-spacing: 0px;
color: #141414;
opacity: 1;
margin-left:4.125rem;
}

#navbar1 .navbar-nav{
    margin-left:1rem;
}

#navbar1 .navbar-nav .nav-item .nav-link{
text-align: left;
letter-spacing: 0px;
color: #141414;
opacity: 100;
font-size:18px;
font-family: 'Roboto', sans-serif;

}

.form-inline input[type=search] {
    padding:0rem 2rem 0 1rem;
    height:37px;
    width:810px;
    border-radius:10px;
    opacity:1;
}

#searchfont{
    background: none;
    position:absolute;
   margin-left:48rem;
}




.carousel .carousel-indicators li {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #141414;
    opacity:0.5;
}

.carousel .carousel-indicators li.active{
    width:11px;
    height:11px;
    border-radius: 50%;
    background-color:#141414;
    opacity: 1;
    
}

.carousel-caption {
   
    right: 5%;
    color: #141414;
    max-width: 500px;
    left: auto;
    top:30%;
    opacity: 1;
    align-content: left;

}

.carousel-caption h1{

    color: #141414;
    font-size:5.25rem;
   font-weight: normal;
    text-align: left;
    font-family: 'Anton',sans-serif;
    
  
}
.carousel-caption p{
   text-align: left;
   letter-spacing: 0px;
   color: #676767;
   opacity: 1;
   font-size:1.625rem;
}

.carousel-caption .btn{
    background: #141414;
    color: #FFFFFF;
    opacity:1;
    width:8.75rem;
    height:2.313rem;
    border-radius: 0;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 0.64px;
    font-size:1rem;
    text-transform: uppercase;
}

#btnview .btn{
    font-size:1rem;
    color: #676767;
    font-family: 'Roboto',sans-serif;
    opacity: 1;
    text-decoration: none;
}

.card-img-top:hover{
    opacity:0.3;
    
}


.overlay:hover{
    opacity: 1;
}


#firstwomen .card-img-overlay:hover
{
    background: transparent linear-gradient(0deg, #141414 0%,
     #676767 100%) 0% 0% no-repeat padding-box;
    opacity:0.8;
    border-radius: 10px;
    height:74%;
    position: absolute;
}

.overlay .btn{
   margin-top:250px;
   width:10.875rem;
   height:2.721rem;
   color: #141414;
   letter-spacing: 0px;
   opacity: 0.8;
   border-radius: 30px;
   font-family:  'Roboto',sans-serif;
   margin-left:11rem;
   position: relative;
   text-align:center;
}

.overlay{
    transition: .3s ease;
    opacity: 0;
    position: absolute;
  
    
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}


.overlay .btn:first-child {
    margin-bottom: 2em;
}

#txtfont{
    text-decoration: none;
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;
    font-family:'Roboto',sans-serif;
    font-size:0.875rem;
    
    
}
#txtrate{
    text-decoration: none;
    font-size:1.25rem;
    color:  #141414;
    opacity: 1;
    letter-spacing: 0px;
    font-family:'Roboto',sans-serif;
    
}


#thumb1 .img-fluid{
    background-color:#141414;
  
    opacity:1;
}
#thumb1 .card-body .card-text{
    font-family:'Roboto Light',sans-serif;
    font-size:1rem;
    letter-spacing: 0px;
    color: #676767;
     opacity: 1;
    
    }
    #thumb1, #thumb2 .card-body .card-text{
        font-family:'Roboto Light',sans-serif;
        font-size:1rem;
        letter-spacing: 0px;
        color: #676767;
         opacity: 1;
        }

#crdtxt{
    font-family: 'Opan Sans', sans-serif;
    font-size:1.5rem;
    font-weight:1000;
    opacity:1;
  
   
}

#crdtext1{
    margin-top:-0.8rem;
}

#thickline{
    width:102px;
    height:5px;
    float:left;
    margin-left:5.5rem;
    background-color: #141414;
    margin-right:2rem;
}

#testimonial{
    color: #141414;
    opacity: 1;
    letter-spacing: 0px;
    font-family:'regular',sans-serif;
    text-align:left;
}

#thumb2{
    background-color: #FFFFFF;
    border-radius: 10px;
    opacity: 1;
    
}

#cardrow2 .card:hover{
   opacity: 1;
   background: #141414;
   color:white;
    
}

#btmdotted{
   float:left;
    width:38px;
    height:5px;
    background-color:#141414;
    border-radius: 10px;
    opacity: 1;

}

#btmdotted1, #btmdotted2{
    float:left;
    width:38px;
    height:5px;
    background-color:#FFFFFF;
    border-radius: 10px;
    opacity: 1;
}

.page-footer{
    background-color: #141414;
    margin-top:-2rem;
}

#copyright{
    color: #FFFFFF;
    font-size:1rem;
    letter-spacing: 0px;
    font-family:'Roboto', sans-serif;
    margin-left:-4rem;
  
}

#social{
    margin-left:5rem;
}

#conditions{
    margin-right:-6rem;
    color:white;
}
#citems{
    text-decoration: none;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Roboto',sans-serif;
    font-size:1rem;
}

@media only screen and (max-device-width: 1280px ) {
    /*.form-inline .form-control{
        display: none;
    }*/
    
    
   #navbar1 .navbar{
       box-shadow: none;
   }
    #navbar1 .navbar{
     
    display: inline;
    
    }
    .navbar-toggler{
        margin-left: 10rem;
    }

    
    .form-inline  input[type=search]{
        padding:0rem 0rem 0rem 1rem;
        height:37px;
        width:300px;
        border-radius:10px;
        opacity:1;
       
    }
    #searchfont{
        background: none;
        position:fixed;
        margin-left:16rem;
       top: 10.2rem;;
       font-weight:0;
    }
    .carousel .carousel-indicators li{
        top:1rem;
    }
    .carousel-caption {

        right: 2%;
        color: #141414;
        max-width: 150px;
        margin-left: -2rem;
        top:4%;
        opacity: 1;
        align-content: left;
    
    }
    
    .carousel-caption h1{
    
        color: #141414;
        font-size:2rem;
        font-weight: 400;
        text-align: left;
      
    }
    .carousel-caption p{
       text-align: left;
       letter-spacing: 0px;
       color: #676767;
       opacity: 1;
       font-size:0.7rem;
    }
    
    .carousel-caption .btn{
        background: #141414;
        color:white;
        opacity:1;
        width:6rem;
        height:2rem;
        border-radius: 0;
       font-size:0.6rem;
       align-items: center;
    }

    #firstwomen .card-img-overlay:hover{
        height:78%;
    }

    .overlay .btn{
        margin-top:300px;
        width:10.875rem;
        height:2.721rem;
        color: #141414;
        letter-spacing: 0px;
        opacity: 0.8;
        border-radius: 30px;
        font-family:  'Roboto',sans-serif;
        margin-left:15rem;
        position: relative;
        text-align:center;
     }

    #thickline{
        margin-left:1rem;
    }
  #copyright{
      margin-top:-1rem;
      margin-left:2rem;
      
  }
  #social{
      margin-top: 1rem;
      margin-left: 3.9rem;
     
  }
  #conditions{
      width: 500px;
      margin-left:-0.8rem;
  }
}




/*-----Praba----- codes----*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');



.header1 .navbar{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px #14141429;
    color: #141414;
}
.header1 .navbar-brand{
    font-size: 18px;
    color: #141414;
    font-weight: bold;
}
.header1 .nav-link{
    top: 46px;
    font-size: 18px;
    color: #141414;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

.description{
    font-size: 14px; 
    color: #727272;
    padding-left: 10px;
}

.size-group{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #141414;
    font-weight: bold;
}

.size-group_mob{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #141414;
    font-weight: bold;
}
.textbox{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #D6D6D6;
border-radius: 5px;
opacity: 1;
width: 58px;
height: 41px;
font-size: 16px;
}

.textbox_mobile{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #D6D6D6;
border-radius: 2px;
opacity: 1;
width: 28px;
height: 20px;
font-size: 10px;
padding-top: 0;
}
.scale{
    font-size: 13px;
    color: #00B577;
    text-decoration: none;
}

.scale_mob{
    font-size: 9px;
    color: #00B577;
    text-decoration: none;
}
.preview-thumbnail a:hover,
.preview-thumbnail a:active{

    opacity: 0.3;

}

#real-file{
    display: none;
}
.desk-name, .custom-button-desk, .custom-text, .t_postion, .option{
    font-size: 16px;
}

.sample{
width: 254px;
height: 254px;
}

.sample_mob{
width: 254px;
height: 254px;
}

.page-footer{
    background-color: black;
    height: 50px;
    font-size: 0.6rem;
    color: white;
}
.main-footer__link a{
    color: #474646;
    text-decoration: none;

}
.main-footer__link a:hover,
.main-footer__link a:active{
    color: rgb(143, 138, 138);

}
 
#copyrights{
    color: #FFFFFF;
    font-size:1rem;
    letter-spacing: 0px;
    font-family:'Roboto', sans-serif; 
}
  
#conditions{
    color:white;
}
#citems{
    text-decoration: none;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Roboto',sans-serif;
    font-size:1rem;
}

.size_1{
    font-size: 10px;
}
.t-logo, .t-position, .option{
font-size: 14px;
} 
.t-logo_mob, .option_mob, .t-position_mob{
    font-size: 12px;
}


@media (min-device-width: 768px){
    .mobile_view, .mobile_view_1, .size-group_mob,   .scale_mob, .sample_mob, 
    .title_mob, .t-logo_mob, .btn_mob, .btn_mob_1, .price_mob, .textbox_mobile,.size_1 {
        display: none;
    }


}

@media (max-device-width: 767px){
      .desktop_view, .desktop_view_1,.input-group, .my-icon, .header2, #copyrights, #conditions, 
    .size-group, .scale, .citems, .sample, .title, .t-logo, .btn_desk, #custom-text, .price,.size-box,
    .btn_desk_1{
        display: none;
    }

    .desk-name, .custom-button-desk, .t_postion, .option{
        font-size: 12px;
    }

    .size_1{
        padding-left: 6px;
    }

    .social{
        margin-left: none;
    }

}

/*-----Praba------ login Page------ codes----*/
.login{
    margin-top: 132px;
    width: 50%;
    height: 100%;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    box-shadow: 8px 8px 8px #14141429;
    border-radius: 20px;
    opacity: 1;   
    }
    .log_title_1, .log_customer{
        font-size: 25px;
    }
    .log_title_2{
        font-size: 18px;
    }
    .log_title_3{
        font-size: 16px;
    }
    .log_forgot, .log_btn, .log_sentence, .log-account{
        font-size: 14px;
    }
    .login-email, .login-password{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    opacity: 1;
    width: 50%;
    font-size: 14px;
    }
    .login-thinline{
        border: 1px solid #D2D2D2;
        opacity: 1;
        font-size: 1px;
        color: #D2D2D2;
        width: 50%;

    }
    .login-social{
        font-size:1.5rem;
    }
    @media (max-width: 767px){
        .login{
            width: 75%;
            margin-top: 66px;
        
        }
        .login-email, .login-password, .login-thinline{
            width: 75%;
        }
        .login-email, .login-password{
            font-size: 12px;
        }
        .log_title_1, .log_customer{
            font-size: 20px;
        }
        .log_title_2{
            font-size: 16px;
        }
        .log_title_3{
            font-size: 14px;
        }
        .log_forgot, .log_btn, .log_sentence, .log-account{
            font-size: 12px;
        }
        .login-social{
            font-size:1.4rem;
        }
    }



/*-----Praba------ Registration Page------ codes----*/

.register{
    margin-top: 132px;
    width: 50%;
    height: 100%;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    box-shadow: 8px 8px 8px #14141429;
    border-radius: 20px;
    opacity: 1; 
    }

    .reg-customer{
        font-size: 22px;
    }
    .reg-info{
        font-size: 18px;
    }
    #reg-sign, .reg-account{
        font-size: 14px;
    }
    .reg-email, .reg-password, .reg-confirm-password{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    opacity: 1;
    width: 50%;
    font-size: 14px;
    }

    @media (max-width: 768px){
        .register{
            width: 75%;
            margin-top: 66px;
        
        }
        .reg-customer{
            font-size: 20px;
        }
        .reg-info{
            font-size: 16px;
        }
        #reg-sign, .reg-account{
            font-size: 12px;
        }
        .reg-email, .reg-password, .reg-confirm-password{
            width: 75%;
            font-size: 12px;
        }
    }


    /*-----Praba------ Registration Page------ codes----*/

    .forgot_pwd{
        margin-top: 132px;
        width: 50%;
        height: 100%;
        background: #F9F9F9 0% 0% no-repeat padding-box;
        box-shadow: 8px 8px 8px #14141429;
        border-radius: 20px;
        opacity: 1; 
        }

    .forgot-customer{
        font-size: 22px;
    }

    .forget-info{
        font-size: 18px;
    }
    .forgot-email{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #D6D6D6;
        border-radius: 5px;
        opacity: 1;
        width: 50%;
        font-size: 14px;
    }
    .forgot-account, #forgot-link{
        font-size: 14px;
    }
    #forgot-link{
        color: #00B577;
    }
    

    @media (max-width: 768px){
        .forgot_pwd{
            width: 75%;
            margin-top: 66px;
        
        }
        .forgot-customer{
            font-size: 20px;
        }
        .forget-info{
            font-size: 16px;
        }
        .forgot-account, #forgot-link{
            font-size: 12px;
        }
        .forgot-email{
            width: 75%;
            font-size: 12px;
        }
    }


    /*-----Praba------ Reset Password Page------ codes----*/

    .reset{
        margin-top: 132px;
        width: 50%;
        height: 100%;
        background: #F9F9F9 0% 0% no-repeat padding-box;
        box-shadow: 8px 8px 8px #14141429;
        border-radius: 20px;
        opacity: 1; 
        }
    
    .reset-customer{
            font-size: 22px;
        }
    .reset-info{
            font-size: 18px;
        }
        .reset-password, .reset-new-password{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #D6D6D6;
            border-radius: 5px;
            opacity: 1;
            width: 50%;
            font-size: 14px;
        }
    .reset-account{
            font-size: 12px;
        }
    #reset-notify{
        color: #00B577;
    }
        @media (max-width: 768px){
            .reset{
                width: 75%;
                margin-top: 66px;
            
            }
            .reset-customer{
                font-size: 20px;
            }
            .reset-info{
                font-size: 16px;
            }
            .reset-account{
                font-size: 12px;
            }
            .reset-password, .reset-new-password{
                width: 75%;
                font-size: 12px;
            }
        }  